<% layout('layouts/boilerplate.ejs') %>
<div class="row">
<div class="alert alert-success col-6 offset-3" role="alert" style="margin-top: 20%; margin-bottom: 25%;">
  <h4 class="alert-heading"><%= err.message %></h4>
  <p><%= err.stack %></p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
</div>