<% layout('layouts/boilerplate') %>

<div class="heroImage container-fluid d-flex flex-column  justify-content-center align-items-end " style="background-image: url('https://source.unsplash.com/4R1wcvJb40c'); height: 100vh; background-position: right; background-repeat: none; position: relative">
  <div class="heroContent">
    <p style="font-size: 300%; padding-left: 3%;">Any Experience</p>
  </div>
</div>

<div class="heroImage container-fluid d-flex flex-column  justify-content-center align-items-start " style="background-image: url('https://source.unsplash.com/ZODcBkEohk8'); height: 100vh; background-position: right; background-repeat: none; position: relative">
  <div class="heroContent">
    <p style="font-size: 300%; padding-left: 3%;">Plan It</p>
  </div>
</div>

<div class="heroImage container-fluid d-flex flex-column  justify-content-center align-items-end " style="background-image: url('https://source.unsplash.com/tXmc2mVDxJc'); height: 100vh; background-position: right; background-repeat: none; position: relative">
  <div class="heroContent">
    <p style="font-size: 300%; padding-left: 3%;">Book It</p>
  </div>
</div>

<div class="heroImage container-fluid d-flex flex-column  justify-content-center align-items-center " style="background-image: url('https://source.unsplash.com/gJhev0YgUcE'); height: 100vh; background-position: right; background-repeat: none; position: relative">
  <div class="heroContent" style="font-size: 300%; padding-left: 3%; width: 100%;">
    <p >Do It</p>
  </div>
</div>