*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.colTitle{
  font-size: 200%;
  text-decoration: underline;
}
.colContent{
  margin-top: 10%;
  text-align: center;
  border-left: 1px solid black;
}
.colContentDetails{
  margin-top: 10%;
  text-align: left;
  border-right: 1px solid black;
}
.imageHolder{
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 100%;
  object-fit: fill;
}
.imageHolder img {
  max-width:100%;
  max-height:100%;
}
.showIntro{
  background-color: rgba(229, 229, 220, 0.6);
  padding: 5%;
  color: #26495c;
}
.inputButtonHolder{
  display: flex;
  flex-direction: row;
}

.destContent{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 5%;
  text-align: center;
}
.imagesAndText {
  background-color: rgba(229, 229, 220, 0.3);
  padding: 5%;
  color: #26495c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.notes{
  min-height: 30vh;
  background-color:rgba(229, 229, 220, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 3%;
  color: #c66b3d;
}
.addNotes{
  min-height: 40vh;
  width: 60%;
  border: #c66b3d 1px solid;
  margin: 3%;
}
.buttonHolder{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 20vh;
  background-color: rgba(229, 229, 220, 0.2);
  margin: 0;
}