<% layout('layouts/boilerplate') %>
  <h1 style="text-align:center;" class="mt-5">All Destinations</h1>
  <div style="text-align:center;">
    <a href="/destinations/new" class="btn btn-light">Add Destination</a>
  </div>
  <div class="d-flex flex-row justify-content-center flex-wrap">
    <% for (let destination of destinations) { %>
    <div class="card" style="width: 18rem; margin: 1%;">
      <img src="<%= destination.image[0] %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= destination.name %></h5>
        <p class="card-text"><%= destination.location %></p>
        <a href="/destinations/<%=destination.id%>" class="btn btn-light">SEE MORE</a>
      </div>
     
    </div>
    <% } %>
    
     
    
</div>