<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Destination</title>
</head>
<body>
  <form action="/destinations" method = "POST">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="destination[name]">
    </div>

    <div>
      <label for="location">location</label>
      <input type="text" id="location" name="destination[location]">
    </div>
    <button>Add Destination</button>
  </form>
  <a href="/desintations">All Destinations</a>
</body>
</html>