<% layout('layouts/boilerplate') %>

<form
  action="/destinations"
  method="POST"
  class="mt-5 validated-form"
  style="width: 70%; margin-left: 15%"
  novalidate
>
  <div class="form-floating mb-3">
    <input
      class="form-control"
      type="text"
      id="title floatingInput"
      name="destination[title]"
      required
    />
    <div class="valid-feedback">Looks Groovy</div>
    <div class="invalid-feedback">Bish This is Required</div>
    <label for="title floatingInput" id="title">Title</label>
  </div>

  <div class="form-floating mb-5">
    <input
      type="text"
      class="form-control"
      id="city"
      name="destination[city]"
      required
    />
    <div class="valid-feedback">Looks Groovy</div>
    <div class="invalid-feedback">Bish This is Required</div>
    <label for="city" id="city">City </label>
  </div>

  <div class="form-floating mb-5">
    <input
      type="text"
      class="form-control"
      id="images"
      name="destination[images]"
    />
    <label for="images" id="images">Image 1</label>
  </div>

  


  <button class="btn btn-light" type="submit">Add Destination</button>
  <a href="/destinations%>" class="btn btn-light">All Destinations</a>
</form>

